.section-view-content-row {
  align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.section-view-content-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar for better UX */
}
