.section-view-content-row {
  align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.section-view-content-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar for better UX */
}

.section-view-header {
  color: var(--color-text-primary);
}

.section-view-header button {
  color: var(--color-text-tertiary);
}

.header-navbar .section-view-header * {
  color: black;
}
